<div class="grid grid-cols-2 md:grid-cols-3 gap-2 animate-pulse ">
    
        <div class=" cursor-pointer bg-gray-200 rounded-lg">
            <div class=" w-full pt-[125.33%]  rounded-lg"></div>
        </div>
        <div class=" cursor-pointer bg-gray-200 rounded-lg">
            <div class=" w-full pb-[125.33%]  rounded-lg"></div>
        </div>
        <div class=" cursor-pointer bg-gray-200 rounded-lg">
            <div class=" w-full pb-[125.33%]  rounded-lg"></div>
        </div>
</div>
