<div class="grid grid-cols-2 md:grid-cols-3 gap-2 animate-pulse ">
   
        <!-- <div class="relative cursor-pointer bg-gray-300 animate-pulse rounded-lg">
            <div class="h-auto">
                <div class="max-w-full image-s " alt="" ></div>
            </div>
     
        </div> -->

        <div class=" cursor-pointer bg-gray-300 rounded-lg">
            <div class=" w-full h-0 pb-[125.33%]  rounded-lg"></div>
        </div>
        <div class=" cursor-pointer bg-gray-300 rounded-lg">
            <div class=" w-full h-0 pb-[125.33%]  rounded-lg"></div>
        </div>
        <div class=" cursor-pointer bg-gray-300 rounded-lg">
            <div class=" w-full h-0 pb-[125.33%]  rounded-lg"></div>
        </div>



</div>
