<div class="bg-secondary  sm:py-24 sm:px-4 py-20 px-2 rounded-3xl">
    <div class="text-center font-semibold dark:text-white">
        <h3 class="text-xl">
            @if (formtype=='signup') {
              Verify Account
            }@else {
              Verify Account
            }
        </h3>
    </div>
    <form class="max-w-80 mx-auto" [formGroup]="otpForm">
    <div class="mb-5 mt-3">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">OTP is sent to {{email}}</label>
      <p class="text-gray-900 dark:text-white text-xs">Expires in {{otpTimer}}</p>
    </div>
    <div class="mb-5">
        <label for="otp" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter OTP</label>
        <div class="flex space-x-2 justify-evenly">
          <input (keyup)="checkOTPFormValid()"  type="text" name="otp" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-8 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                 [formControl]="otpControls[i]" maxlength="1" required
                 *ngFor="let control of otpControls; let i = index" />
        </div>
        @if (error) {
          <p class="m-0 text-sm text-red-600 dark:text-red-500">{{error}}</p>
        }
      </div>

    <div class="text-center">
        <button type="button" [disabled]="!otpFormValid" (click)="onSubmit()" class="text-white bg-black hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full  px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Verify</button>
    </div>
    <div class="text-center mt-8">
    </div>
  </form>
</div>