<div class="flex gap-6 flex-col" appScrollLoad (loadMore)="test($event)">
    @defer (when isLoading===false) {
        @for (post of posts; track post._id) {
            <app-post-item [postdata]="post" (followButton)="followAccount($event)" (unfollowButton)="unfollowAccount($event)"
                (likeButton)="likePost($event)" (unlikeButton)="unlikePost($event) " (shareButton)="sharetoChatModal($event)"
                (saveButton)="savePost($event)" (unsaveButton)="unsavePost($event)"
                (commentButton)="showComment($event)">
            </app-post-item>
            }
    }@placeholder(minimum 500ms) {
        <app-post-item-skeleton></app-post-item-skeleton>
    }@loading {
      Loading...
    }

</div>

<!-- Comment Modal -->
<app-comment-modal [isModalVisible]="iscommentVisible"></app-comment-modal>



<!-- Chat Modal -->
<app-chat-modal [chatvisible]="chatModal" (toggle)="sharetoChatModal()" [message]="link"></app-chat-modal>