<div class="flex gap-6 flex-col">
    @if (isLoading) {

    <app-post-item-skeleton></app-post-item-skeleton>

    }@else{
    @for (post of posts; track post._id) {
    <app-post-item [postdata]="post" (followButton)="followAccount($event)" (unfollowButton)="unfollowAccount($event)"
        (likeButton)="likePost($event)" (unlikeButton)="unlikePost($event) " (shareButton)="copyLink($event)"
        (saveButton)="savePost($event)" (unsaveButton)="unsavePost($event)"
        (commentButton)="showComment($event)">
    </app-post-item>
    }
    }
</div>

<app-comment-modal [isModalVisible]="iscommentVisible"></app-comment-modal>