.img-container {
    width: 100% ;
    /* height: 10%; */
    /* height: 620px;   */
    /* padding-bottom: calc(1350px / 1080px * 100%);  */
}

.image-container img {
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

.trip-item{
    width: 40vw;
}

.settings-menu {
    visibility: hidden; 
    opacity: 0;
    transform: translateY(-10px); /* Translate menu up initially */
    transition: all 0.2s ease-in-out; /* Animation properties */
  }
  
  .settings-menu.active {
    visibility: visible; 
    opacity: 1;
    transform: translateY(0); /* Animate menu down on visibility */
} 

@media (max-width:640px){
    .trip-item{
        width: 95vw; /* Allow container to take full width */
        /* height: 520px; */
    }
}
