

<div class="bg-secondary w-100 h-auto rounded-2xl py-5 px-5 ">
    <div class="post-profile mb-3 flex gap-2 items-center">
        <div>
            <img class="w-10 h-10 rounded-full" src="../../../../assets/images/IMG_9238.jpg" alt="Rounded avatar">
        </div>
        <div class=" flex flex-col">
           <span class="font-semibold dark:text-white"> {{postdata.user?.username}}</span>
           <span class="dark:text-white text-xs">{{postdata.place}}</span>
        </div>
        <div class="font-medium text-xs text-white bg-blue-600 px-2 py-1 rounded-lg flex cursor-pointer ">
            @if (postdata.isFollowing) {
              <span (click)="unfollow(postdata.creator_id)">Unfollow</span>
            }@else{
                <span (click)="follow(postdata.creator_id)">Follow</span>
            }
        </div>

    </div>
    <div class="image-container" (dblclick)="like(postdata._id)">
        <!-- <img [src]="postdata.images[0]" alt="" > -->
    <swiper-container navigation="true" pagination="true"  >
        @for (image of postdata.images; track postdata) {
            <swiper-slide>
            <img [src]="image" alt="" >
            </swiper-slide>
        }
    </swiper-container>
    </div>
    <div class="flex flex-col p-2">
        <div>
            <span class="font-medium text-sm dark:text-white">{{postdata.likes}} Likes</span>
        </div>
        <div class="space-x-2">
            @if (postdata.isLiked) {
                <i class="fa-solid fa-heart text-xl cursor-pointer" (click)="unlike(postdata._id)" style="color: #fe0606; "></i>
            }@else {
                <i class="fa-regular fa-heart text-xl cursor-pointer" (click)="like(postdata._id)" style="color: #000000;"></i>
            }
            <i class="fa-solid fa-share text-xl cursor-pointer text-black " (click)="onShare(postdata._id)" ></i>
        </div>
        <div class="dark:text-white">{{postdata.caption}}</div>
        <div class="dark:text-white text-xs">{{postdata.createdAt | dateFormat}}</div>
    </div>
</div>


