<div class="post-item bg-secondary w-100 h-auto rounded-2xl py-5 px-5 relative items-center justify-center " >
    <div class="post-profile mb-3 flex gap-2 items-center">
        <div>
            <img class="w-10 h-10 rounded-full" [src]="postdata.user?.profileimg" alt="Rounded avatar">
        </div>
        <div class=" flex flex-col">
            <span class="font-semibold dark:text-white cursor-pointer flex gap-1" [routerLink]="['/profile',postdata.user?._id]"> 
                {{postdata.user?.username}}
                @if (postdata.user?.isPremium) {
                    <svg aria-label="Verified" class="IGDSSVGIconBase x1lliihq x1n2onr6" fill="rgb(0, 149, 246)" height="18" role="img" viewBox="0 0 40 40" width="18"><title>Verified</title><path d="M19.998 3.094 14.638 0l-2.972 5.15H5.432v6.354L0 14.64 3.094 20 0 25.359l5.432 3.137v5.905h5.975L14.638 40l5.36-3.094L25.358 40l3.232-5.6h6.162v-6.01L40 25.359 36.905 20 40 14.641l-5.248-3.03v-6.46h-6.419L25.358 0l-5.36 3.094Zm7.415 11.225 2.254 2.287-11.43 11.5-6.835-6.93 2.244-2.258 4.587 4.581 9.18-9.18Z" fill-rule="evenodd"></path></svg>
                }
            </span>
            <span class="dark:text-white text-xs">{{postdata.place | textslice:20 }}</span>
        </div>
        @if(!postdata.same_user) {
        <div class="font-medium text-xs text-white bg-blue-600 px-2 py-1 rounded-lg flex cursor-pointer ">
            @if (postdata.isFollowing) {
            <span (click)="unfollow(postdata.creator_id)">Unfollow</span>
            }@else{
            <span (click)="follow(postdata.creator_id)">Follow</span>
            }
        </div>
        }

    </div>
    <div class="image-container" (dblclick)="like(postdata._id)">
        <!-- <img [src]="postdata.images[0]" alt="" > -->
        <swiper-container navigation="true" pagination="true">
            @for (image of postdata.images; track image) {
            <swiper-slide>
                <img [src]="image" alt="">
            </swiper-slide>
            }
        </swiper-container>
    </div>
    <div class="flex flex-col p-2 relative" >
        <div class="likes flex flex-col"  
          
        >
            <span class="font-medium text-sm dark:text-white" (click)="showLikedUsersModal()"
            (mouseenter)="showPopover()" 
            (mouseleave)="hidePopover()"
            >
            {{postdata.likes}} Likes</span>
            <span class="font-medium text-sm dark:text-white"> {{postdata.likedUsers | likesWithMutual}}</span>
            
        </div>


        <!-- Popover -->
        <div #popover id="popover" class="popover invisible opacity-0 absolute z-50 bottom-40  inline-block w-44 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm  dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
            <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
                <h3 class="font-semibold text-gray-900 dark:text-white">Liked By</h3>
            </div>
            <div class="px-3 py-2">
                @for (users of postdata.likedUsers; track users._id) {
                    <div class="flex gap-2 mb-1" [routerLink]="['/users',users._id]">
                        <div class="bg-gray-500 rounded-full">
                            @if (users.profileimg) {
                                <img class="w-5 h-5 rounded-full " [src]="users.profileimg" alt="">
                            }@else {
                                <img class="w-5 h-5 rounded-full "  alt="">
                                
                            }
                        </div>
                        <div>
                            <p>{{users.username}}</p>
                        </div>
                    </div>
                  
                }
            </div>
            <div data-popper-arrow></div>
        </div>
        <!-- Popover -->



        <div class="flex justify-between">
            <div class="flex gap-2">
                @if (postdata.isLiked) {
                <i class="fa-solid fa-heart text-xl cursor-pointer " (click)="unlike(postdata._id)"
                    style="color: #fe0606; "></i>
                }@else {
                <i class="fa-regular fa-heart text-xl cursor-pointer transition-all active:scale-125"
                    (click)="like(postdata._id)" style="color: #000000;"></i>
                }
                <i class="fa-regular fa-comment text-xl cursor-pointer text-black dark:text-gray-400"
                    (click)="onComment(postdata._id)"></i>
                <i class="fa-solid fa-share text-xl cursor-pointer text-black dark:text-gray-400"
                    (click)="onShare(postdata._id)"></i>
            </div>
            <div>
                @if (postdata.isSaved) {
                <i class="fa-solid fa-bookmark text-xl cursor-pointer text-black dark:text-gray-400"
                    (click)="onUnsave(postdata._id)"></i>
                }@else {
                <i class="fa-regular fa-bookmark text-xl cursor-pointer text-black dark:text-gray-400"
                    (click)="onSave(postdata._id)"></i>
                }
            </div>
        </div>
        <div class="dark:text-white">{{postdata.caption}}</div>
        @if (postdata.comments.length) {
            <div class="dark:text-white">{{postdata.comments.length}} comments</div>
        }
        <div class="dark:text-white text-xs">{{postdata.createdAt | dateFormat}}</div>

    </div>
</div>
