<div [class.dark]="darkmode" class="authpage-component w-screen h-screen" [class.dark-bg]="darkmode" > 
  <app-mytoast class="flex justify-center "></app-mytoast>
</div>

<div class="absolute w-screen" >
  <div class="authpage-content flex flex-col justify-center items-center pt-12 " [class.dark-logo]="darkmode">
    <img class="w-40"  src="../../../assets/images/travelloLogo.svg"  alt="">
    <span class="font-semibold dark:text-white ">Find your Perfect Destinations</span>
    <!-- <h1 class="gradient-text font-bold">Hello!</h1> -->

  </div>
  <div class="max-w-md m-auto shadow-md mt-3 rounded-3xl max-h-[40%]">
    
  @if(isPresent=="/signin"){
    @if (!isOtpSend) {
      <app-signin-form (formdata)="signin($event)" [error]="signinerror" [isLoading]="isLoading"></app-signin-form>
    }@else {
      <app-otp-form formtype="signup" email={{email}} (formData)="verifyOtp($event)" [error]="otpError" [isLoading]="isLoading"></app-otp-form>
    }
  }@else if(isPresent=="/signup"){
    @if (!isOtpSend) {
    
      <app-signup-form (fromData)="signup($event)" [error]="signupError" [isLoading]="isLoading"></app-signup-form>

    }@else {
      <app-otp-form formtype="signup" email={{email}} (formData)="verifyOtp($event)" [isLoading]="isLoading"></app-otp-form>
    }
  } 
  </div>
  
</div>

