.chat-main {
    width: 65vw;
    min-height: 70vh;
    height: 70vh;

}

.myline {
    line-height: 1.2rem;
}

.chat-items{
     height: 85%;
    overflow-y: scroll;
}
.message{
    transition: all 0.3s ease-out;
}
.chat-container {
    position: relative;
    display: flex;
  }

emoji-mart {
    position: absolute;
    bottom: 80px;
    left: 0;
    z-index: 1000;
    height: 200px;
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0.3); /* Optional: adds a semi-transparent white overlay */
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
  }

/* .chatbubble {
    max-width: 75%;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 5px 0;
    display: inline-block;
    word-wrap: break-word;
} */
.right {
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.left {
    justify-items: start;
}
.chatbubble .item{
    max-width: 65%;
    display: inline-block;
    word-wrap: break-word;
}
a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

@media (max-width:640px) {
    .chat-main {
        width: 90vw;
    }

}