.skeleton {
    background-color: #e0e0e0;
    position: relative;
    overflow: hidden;
}




/* Additional styling for trip-item */
.trip-item {
    width: 40vw;
}

.img-container {
    width: 100%;
    height: 10%;
}



@media (max-width: 640px) {
    .trip-item {
        width: 85vw; /* Allow container to take full width */
    }
}
