
<div class="bg-secondary h-auto profile-main p-10 rounded-xl ">
    <div class="flex justify-between gap-5 items-center ">

        <!-- Profile Details -->
        <div>
            @if (user) {
              
                <div class="profile-img-container bg-primary rounded-full">
                    <img [src]="user.profileimg" alt="" class="rounded-full">
                </div>
                <div class="mt-4 text-sm dark:text-white">
                    <div class="font-medium flex gap-1">{{user.name}}
                        @if (user.isPremium) {
                            <svg aria-label="Verified" class="IGDSSVGIconBase x1lliihq x1n2onr6" fill="rgb(0, 149, 246)" height="18" role="img" viewBox="0 0 40 40" width="18"><title>Verified</title><path d="M19.998 3.094 14.638 0l-2.972 5.15H5.432v6.354L0 14.64 3.094 20 0 25.359l5.432 3.137v5.905h5.975L14.638 40l5.36-3.094L25.358 40l3.232-5.6h6.162v-6.01L40 25.359 36.905 20 40 14.641l-5.248-3.03v-6.46h-6.419L25.358 0l-5.36 3.094Zm7.415 11.225 2.254 2.287-11.43 11.5-6.835-6.93 2.244-2.258 4.587 4.581 9.18-9.18Z" fill-rule="evenodd"></path></svg>
                        }
                    </div>
                    <div>{{user.bio}}</div>
                </div>
            }
        </div>
        <!-- /Profile Details -->


       
         @if(profileid && user) {
            <!-- Follow Button -->
             @if (user.isFollowing) {
                <div (click)="unfollow(user._id)" class="font-medium text-xs text-white bg-blue-600 px-2 py-1 rounded-lg flex cursor-pointer ">
                    <span >Unfollow</span>
                </div>
             }@else {
                <div (click)="follow(user._id)" class="font-medium text-xs text-white bg-blue-600 px-2 py-1 rounded-lg flex cursor-pointer ">
                    <span >Follow</span>
                </div>
             }
            <!-- Follow Button -->
           
         }@else {
            <!-- Settings -->
             <div class="relative">
                 <div>
                     <i class="settings-icon fa-solid fa-gear cursor-pointer text-xl" style="color: #0a0a0a;"
                         (click)="toggleSettings()" [class.active]="toggleStatus"></i>
                 </div>
                 <div class="settings-menu absolute right-6 bg-primary rounded-xl w-32 items-center flex flex-col py-2"
                     [class.active]="toggleStatus" #settings_menu>
                     <a routerLink="/edit-profile">
                         <span class="cursor-pointer p-1 hover:text-gray-600">Edit Profile</span>
                     </a>
                     <hr class="w-full">
                     <span class="cursor-pointer p-1 hover:text-gray-600" (click)="onLogout()">Logout</span>
                 </div>
             </div>
             <!-- /Settings -->
         }
        




    </div>
    <div class="flex justify-center gap-10 font-bold dark:text-white">
        @if (followCount) {
            <div>Followers: {{followCount.followersCount}}</div>
            <div>Following: {{followCount.followingCount}}</div>
        }
    </div>

    <!-- Trips & Posts -->
    <div class="flex flex-col  items-center justify-center my-4 ">
        <div class=" flex cursor-pointer items-center transition-all gap-6 relative">
            <span (click)="changeNav('posts')">Posts {{postCount}}</span>
            <span (click)="changeNav('trips')">Trips {{tripCount}}</span>
            @if (!profileid) {
                <span (click)="changeNav('saved')">Saved</span>
            }
            <div #underline class=" flex underline-test bg-black rounded-md"></div>
        </div>
    </div>

    <div class="w-full">
        @if (nav=='posts') {
                <app-image-grid [imgData]="posts" [isLoading]="postLoading"></app-image-grid>
        }@else if(nav=="trips") {
            <app-trip-grid [trips]="trips"></app-trip-grid>
        }@else{
            <app-image-grid [imgData]="savedPosts" [isLoading]="savedLoading"></app-image-grid>
        }
    </div>
    <!-- /Trips & Posts -->

</div>