.profile-main{
    width: 65vw;
    min-height: 87vh;
    height: auto;
}

.profile-img-container{
    width: 100px;
    height: 100px;

}

.fa-circle{
    width: 10px;
    font-size: 8px;
}

.underline-item{
    width: 18px;
    height: 5px;
}

.underline-test {
    position: absolute;
    bottom: -4px; /* Adjust based on your design */
    left: 10px;
    height: 4px; /* Adjust based on your design */
    width: 18px;

    transition: transform 0.3s ease-in-out; /* Smooth transition */
  }

  .settings-menu {
    opacity: 0;
    transform: translateY(-10px); /* Translate menu up initially */
    transition: all 0.2s ease-in-out; /* Animation properties */
  }
  
  .settings-menu.active {
    opacity: 1;
    transform: translateY(0); /* Animate menu down on visibility */
} 

.settings-icon {
  transform: rotate(0deg);
   transition: all 0.2s ease-in-out; 
}
.settings-icon.active {
  transform: rotate(20deg);
}

@media (max-width:640px) {
    .profile-main{
        width: 90vw;
    }
    .profile-img-container{
        width: 80px;
        height: 80px
    }
}

