<div class="w-screen">
    @if (!tripid) {
        <app-slide-nav [navNames]="navItems" (navChange)="onNavChange($event)"></app-slide-nav>
    }
    <div class="flex gap-2 flex-col">
       @if (isLoading) {
         <app-trip-item-skeleton></app-trip-item-skeleton>
       }@else {   
           @for (trip of trips; track trip._id) {
               <app-trip-item [tripData]="trip" (JoinButton)="joinTrip($event)" (followButton)="followAccount($event)" (unfollowButton)="unfollowAccount($event)"></app-trip-item>
           }
       }
 
    </div>
</div>