.skeleton-div{
    width: 560px;
    height: 849px;
}

.skeleton-img{
    width: 520px;
    height: 750px;
}

@media (max-width: 640px){
    .skeleton-div{
        width: 100%;
        height: auto;
    }
    .skeleton-img{
        width: 100%;
        height: 500px;
    }
    .post-item{
        width: 95vw;
    }
}