:host {
    display: block;
    width: 100%;
    max-width: 560px;
    margin-inline: auto;
}

.skeleton-div{
    width: 100%;
    overflow: hidden;
}

.image-container {
    width: 100%;
    position: relative;
    aspect-ratio: 4 / 5;
    overflow: hidden;
    border-radius: 1rem;
}

.skeleton-img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

@media (max-width: 640px){
    :host{
        max-width: 95vw;
    }
    .image-container{
        width: 100%;
    }
}
