<div class="fixed z-10 w-20 min-h-2/3 bg-secondary gap-9 top-36 rounded-lg hidden sm:flex flex-col p-3 justify-center items-center">

    <!-- Trips -->
    <div class="relative group">
      <div routerLink="/" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }"
           class="side-item cursor-pointer hover:scale-110 transition-all"
           (click)="changeURL('/')">
        <i class="fa-solid fa-compass text-xl"></i>
      </div>
  
      <div class="absolute left-full top-1/2 ml-3 -translate-y-1/2 
                  z-10 px-3 py-2 text-sm text-white bg-gray-600 rounded-lg shadow
                  opacity-0 invisible
                  group-hover:opacity-100 group-hover:visible transition">
        Trips
      </div>
    </div>
  
    <!-- Posts -->
    <div class="relative group">
      <div routerLink="/posts" routerLinkActive="active"
           class="side-item cursor-pointer hover:scale-110 transition-all"
           (click)="changeURL('/posts')">
        <i class="fa-solid fa-camera-retro text-xl"></i>
      </div>
  
      <div class="absolute left-full top-1/2 ml-3 -translate-y-1/2 
                  z-10 px-3 py-2 text-sm text-white bg-gray-600 rounded-lg shadow
                  opacity-0 invisible
                  group-hover:opacity-100 group-hover:visible transition">
        Posts
      </div>
    </div>
  
    <!-- Search -->
    <div class="relative group">
      <div routerLink="/search" routerLinkActive="active"
           class="side-item cursor-pointer hover:scale-110 transition-all"
           (click)="changeURL('/search')">
        <i class="fa-solid fa-magnifying-glass text-xl"></i>
      </div>
  
      <div class="absolute left-full top-1/2 ml-3 -translate-y-1/2 
                  z-10 px-3 py-2 text-sm text-white bg-gray-600 rounded-lg shadow
                  opacity-0 invisible
                  group-hover:opacity-100 group-hover:visible transition">
        Search
      </div>
    </div>
  
    <!-- Create -->
    <div class="relative group">
      <div routerLink="/create" routerLinkActive="active"
           class="side-item cursor-pointer hover:scale-110 transition-all"
           (click)="changeURL('/create')">
        <i class="fa-solid fa-plus text-xl"></i>
      </div>
  
      <div class="absolute left-full top-1/2 ml-3 -translate-y-1/2 
                  z-10 px-3 py-2 text-sm text-white bg-gray-600 rounded-lg shadow
                  opacity-0 invisible
                  group-hover:opacity-100 group-hover:visible transition">
        Create
      </div>
    </div>
  
    <!-- Profile -->
    <div class="relative group">
      <div routerLink="/profile" routerLinkActive="active"
           class="side-item cursor-pointer hover:scale-110 transition-all"
           (click)="changeURL('/profile')">
        <i class="fa-solid fa-user text-xl"></i>
      </div>
  
      <div class="absolute left-full top-1/2 ml-3 -translate-y-1/2 
                  z-10 px-3 py-2 text-sm text-white bg-gray-600 rounded-lg shadow
                  opacity-0 invisible
                  group-hover:opacity-100 group-hover:visible transition">
        Profile
      </div>
    </div>
  
    <!-- Notifications -->
    <div class="relative group">
      <div routerLink="/notification" routerLinkActive="active"
           class="side-item relative cursor-pointer hover:scale-110 transition-all"
           (click)="changeURL('/notification')">
  
        <i class="fa-solid fa-bell text-xl"></i>
  
        @if (notificationCount) {
          <div class="absolute top-0 right-0 w-5 h-5 text-xs bg-red-500 text-white rounded-full flex items-center justify-center">
            {{notificationCount}}
          </div>
        }
      </div>
  
      <div class="absolute left-full top-1/2 ml-3 -translate-y-1/2 
                  z-10 px-3 py-2 text-sm text-white bg-gray-600 rounded-lg shadow
                  opacity-0 invisible
                  group-hover:opacity-100 group-hover:visible transition">
        Notifications
      </div>
    </div>
  
  </div>


  <!-- mobile sidebar -->
  <div class="fixed z-50 w-full h-14 max-w-sm -translate-x-1/2 
  sm:hidden bg-white border rounded-full bottom-2 left-1/2">

<div class="grid h-full grid-cols-5 text-center text-xs text-black">

<!-- Trips -->
<button routerLink="/" class="flex flex-col items-center justify-center">
<i class="fa-solid fa-compass text-lg"></i>
<span>Trips</span>
</button>

<!-- Posts -->
<button routerLink="/posts" class="flex flex-col items-center justify-center">
<i class="fa-solid fa-camera-retro text-lg"></i>
<span>Posts</span>
</button>

<!-- Create -->
<button routerLink="/create" class="flex flex-col items-center justify-center">
<i class="fa-solid fa-plus text-lg"></i>
<span>Create</span>
</button>

<!-- Search -->
<button routerLink="/search" class="flex flex-col items-center justify-center">
<i class="fa-solid fa-magnifying-glass text-lg"></i>
<span>Search</span>
</button>

<!-- Notifications -->
<button routerLink="/notification" class="flex flex-col items-center justify-center relative">

<i class="fa-solid fa-bell text-lg"></i>

@if (notificationCount) {
<div class="absolute top-0 right-4 w-4 h-4 text-[10px] bg-red-500 text-white rounded-full flex items-center justify-center">
{{notificationCount}}
</div>
}

<span>Alerts</span>
</button>

</div>
</div>